@charset "utf-8";

/*
	CSS Document
	Modified 2022 Feb 25
	LCARS Lower Decks PADD Theme
	By Jim Robertus www.thelcars.com
*/

:root {
	font-size: 1.35rem;
}

@media only screen and (max-width: 600px) {
	:root {
		font-size: 1.2rem;
	}
}

*,
:after,
:before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: #121212;
	border-radius: 100vw;
	margin-block: .5em;
}

::-webkit-scrollbar-thumb {
	background-color: #2d2d2d;
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #3f3f3f;
}

@supports (scrollbar-color: #2d2d2d #121212) {
	* {
		scrollbar-color: #2d2d2d #121212;
	}
}

/* added self-hosted fonts */
@font-face {
	font-family: 'Antonio';
	font-style: normal;
	font-weight: 700;
	src: url('Antonio-Bold.woff2') format('woff2'),
		 url('Antonio-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Antonio';
	font-style: normal;
	font-weight: 400;
	src: url('Antonio-Regular.woff2') format('woff2'),
		 url('Antonio-Regular.woff') format('woff');
}

body {
	margin: 0;
	padding: 5px 0;
	background-color: #000;
	font-family: 'Antonio', 'Arial Narrow', 'Avenir Next Condensed', sans-serif;
	line-height: 1.5;
	color: #79d;
}

a {
	text-decoration: underline;
	color: #58e;
}

/* MJR: added hover effect */

a:hover {
	filter: brightness(115%);
	animation: none;
}

a:active {
	filter: brightness(80%);
	outline: none;
}

.lcars-text-bar {
	display: flex;
	position: relative;
	margin: 32px 0;
	overflow: visible;
	border-radius: 14px;
	height: 32px;
	background-color: #455580;
	border-right: 28px solid #6cf;
	border-left: 28px solid #6cf;
}

.the-end {
	justify-content: flex-end;
}

.lcars-text-bar span {
	position: absolute;
	top: -4px;
	background-color: #000;
	height: 40px;
	overflow: visible;
	padding: 0 10px;
	font-size: 1.64rem;
	line-height: 34px;
	text-transform: uppercase;
	color: #9bf
}

.lcars-text-bar::before {
	content: '';
	background-color: #000;
	display: block;
	width: 10px;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.lcars-text-bar::after {
	content: '';
	background-color: #000;
	display: block;
	width: 10px;
	height: 32px;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}

@media only screen and (max-width: 600px) {
	.lcars-text-bar {
		border-radius: 10px;
		height: 24px;
		border-right-width: 20px;
		border-left-width: 20px;
	}

	.lcars-text-bar span {
		position: absolute;
		top: -6px;
		height: 30px;
		padding: 0 5px;
		font-size: 1.34rem;
		line-height: 32px;
	}

	.lcars-text-bar::before,
	.lcars-text-bar::after {
		width: 5px;
		height: 24px;
	}
}

footer {
	display: flex;
	bottom: 0;
	margin: 50px auto 0 auto;
	padding: 12px 0;
	background: linear-gradient(#58e 50%, #455580 50%);
	border-radius: 0 20px 20px 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

footer::before {
	content: '';
	background-color: #000;
	display: block;
	width: 5px;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 25%;
	overflow: hidden;
}

footer::after {
	content: '';
	background-color: #000;
	display: block;
	width: 2px;
	height: 100vh;
	position: absolute;
	top: 0;
	left: -1px;
	overflow: hidden;
}

.footer-panel {
	width: 12%;
	max-width: 130px;
	height: 100px;
	margin: auto;
	padding: 10px 0 0 1%;
	background-color: #6cf;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	font-size: .85rem;
	font-weight: bold;
	color: #000;
}

.footer-inside {
	flex: 1;
	min-height: 180px;
	background-color: #000;
	border-radius: 0 20px 20px 0;
	padding: 1.5rem 1rem;
	z-index: 2;
}

.footer-inside::before {
	content: '';
	background-color: #58e;
	display: block;
	width: 15%;
	min-width: 60px;
	height: 10px;
	position: absolute;
	top: 17px;
	left: 1px;
	overflow: hidden;
}

.footer-inside::after {
	content: '';
	background-color: #455580;
	display: block;
	width: 15%;
	min-width: 60px;
	height: 10px;
	position: absolute;
	bottom: 12px;
	left: 1px;
	overflow: hidden;
}

.footer-text {
	display: flex;
	flex-direction: column;
	min-height: 146px;
	align-items: center;
	justify-content: center;
	gap: 20px;
	text-align: center;
	font-size: .94rem;
}

.footer-text>* {
	margin: 0;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
	footer::before {
		left: 40%;
	}
}

@media only screen and (max-width: 500px) {
	body {
		padding: 0;
	}
}

/* MJR: additions */

.clear {
	clear: both;
}

.wrapMJR {
	/* display: flex; */
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	max-width: 1340px
}

.contentMJR {
	padding: 5px;
}

.lcars-text-bar span a{
	text-decoration: none;
}

/* QUIZ */

/* quiz wrapper */
#quizWrap {
	max-width: 600px;
	margin: 0 auto;
	/* RECOMMENDED FIXED HEIGHT IF YOU HAVE CONTENT BELOW THE QUIZ */
	/* SO THAT PAGE LAYOUT DOES NOT "JUMP" */
	height: 350px;
	margin-bottom: 50px;
}

/* quiz question */
#quizQn {
	font-size: 30px;
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
	line-height: 1.2;
	color: #6cf;
	height: 60%;
	margin: auto;
}

/* quiz answers */
#quizAns {
	margin: 10px 0;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
}

#quizAns input[type=radio] {
	display: none;
}

#quizAns label {
	color: #000;
	background: #58e;
	border: 1px solid #58e;
	border-radius: 0px;
	padding: 10px;
	font-size: 22px;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;

}

#quizAns label.correct {
	background: #0b0;
	border: 1px solid #0b0;
}

#quizAns label.wrong {
	background: #f00;
	border: 1px solid #f00;
}

label:hover{
	filter: brightness(115%);
	animation: none;
}

label:active {
	filter: brightness(80%);
	outline: none;
}

@media only screen and (max-width: 600px) {
	#quizQn {
		font-size: 24px;
	}

	#quizAns label {
		font-size: 18px;
	}
}